/* Header Section */
.website {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
.header {
    display: flex;
    justify-content: space-around;
    background-color: black;
    color: #f9faf8;
    
}
ul {
    display: flex;
    list-style-type: none;
    gap: 14px;
    color: #E5E7EB;
}
.intro {
    display: flex;
    justify-content: space-evenly;
    padding: 100px;
    background-color: black;
    color: #E5E7EB;
}
.introtitle {
 color: #f9faf8;
}
.sub button {
   border-radius: 20px;
   background-color: white;
   border: 4px solid darkgray;
   font-weight: 900;
}
/* Header Section */



/* Fun Information Section */
.info{
    padding: px;
}
.Fun {
   text-align: center;
}
.threepics {
display: flex;
justify-content: space-around;
text-align: center;
padding: 10px;
margin: 100px;
margin-top: 10px;
}
.new {
 border: 5px solid black;
 border-radius: 15px;
}
/* Fun Information Section */




/* Quote Section */
.Quote {
    background-color: darkgray;
    padding: 100px;
}
.said {
 display: flex;
 font-size: 36px;
 justify-content: center;
 
}
.person {
display: flex;
flex-direction: row-reverse;
font-weight: 900;
font-size: 20px;
margin-right: 100px;
margin-top: -50px;
}
/* Quote Section */



/* Sign-Up Section */
.Final {
    display: flex;
    justify-content: center;
}
.superfinal {
border: solid black;
display: flex;
background-color: black;
color: white;
border-radius: 10px;
padding: 50px;
margin: 50px;
height: 50px;
width: 500px;
align-items: center;
justify-content:space-between;
}
.finalbutton {

}
.superfinal button {
    background-color: white;
    border: 5px solid darkgray;
    border-radius: 10px;
}
/* Sign-Up Section */








footer {
    background-color: #1F2937;
    color: #E5E7EB;
}